name: Test Pipeline

on: 
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Code auschecken
        uses: actions/checkout@v4

      - name: Node installieren
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Abhängigkeiten installieren
        run: npm install

      - name: Tests ausführen
        run: npm test
        
